export ASTRA_DB_APPLICATION_TOKEN=AstraCS:StsyoGqplAYDkSWOpRTCWmgY:d18f0aea9b8992d337142d2e74cf1df6faa8d4378692c7df35d349140236d3f0
export ASTRA_DB_API_ENDPOINT=https://e103ad26-2ae5-4a17-ae98-19fada3522a6-us-east-2.apps.astra.datastax.com
export ASTRA_DB_COLLECTION_NAME=social_media_engagement